/* 
This file need to be transpiled by gulp at build time
urls will be replaced by base64 
*/

@font-face {
  font-family: Roboto;
  src: url('/assets/font/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('/assets/font/Roboto/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url('/assets/font/Roboto/Roboto-Italic.ttf');
  font-style: italic;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
}

.bg {
  background-image: url(/assets/img/1F425134613.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.overlay {
  background:rgba(0, 0, 0, 0.25);
}

.full-size {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.no-select {
  user-select: none;
}

.white-font {
  color: rgb(255, 255, 255);
}

.no-list-style {
  list-style: none;
}

.transition-color {
  transition: color 0.25s ease;
}

.no-background {
  background: transparent;
}

.pointer {
  cursor: pointer;
}

video::-webkit-media-controls {
  display: none !important;
}

::cue {
  background: transparent;
}