body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
}

.full-size {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.no-select {
  user-select: none;
}

.white-font {
  color: rgb(255, 255, 255);
}

.no-list-style {
  list-style: none;
}

.transition-color {
  transition: color 0.25s ease;
}

.blur {
  filter: blur(15px) brightness(60%)!important;
}

.no-background {
  background: transparent;
}

.pointer {
  cursor: pointer;
}

video::-webkit-media-controls {
  display: none !important;
}

::cue {
  background: transparent;
}